
$font1: 2rem;
$font2: 1.3rem;
$font3: 0.3rem;
$text_color: yellowgreen;
// $text_color: rgba(31, 38, 135, 0.77);
$black: #000;
$grey: #e0e0e0;
$off_white: rgba(224, 224, 224, 0.4);
$purple_like: rgba(31, 38, 135, 0.67);
$border: 1px solid $black;